@{
    ViewBag.Title = "签证国家列表";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}
@section Css{
    <link href="@Url.Content("~/Content/citic/themes/bootstrap.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/citic/themes/reset.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/citic/themes/details.css")" rel="Stylesheet" type="text/css" />

}
@section Js{
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/details.js"></script>
}

<div class="container-wrap">
    <header style="background:#ec0606;">
        <h2>加拿大长期往返签证</h2>
        <p>接受预定</p>
        <div class="condition">
            <span>免面试</span><span>电子材料</span><span>纸质材料</span><span>需采集指纹</span>
        </div>
    </header>
    <ul class="description">
        <li class="desc-wrap col-xs-4"><a data-toggle="modal" href="#validityPeriod"><p class="title">有效期限</p><p class="con">最长10年（至申请者护照有效期的前一天）</p><em></em></a></li>
        <li class="desc-wrap col-xs-4"><p class="title">入境次数</p><p class="con">多次</p></li>
        <li class="desc-wrap col-xs-4"><a data-toggle="modal" href="#visaType"><p class="title">签证类型</p><p class="con">个人旅游、商务、探亲签证</p><em></em></a></li>
        <li class="desc-wrap col-xs-4"><a data-toggle="modal" href="#handlingTime"><p class="title">办理时间</p><p class="con">收齐资料后的21个工作日</p><em></em></a></li>
        <li class="desc-wrap col-xs-4"><p class="title">停留时间</p><p class="con">180天</p></li>
        <li class="desc-wrap col-xs-4"><p class="title">受理领区</p><p class="con">全国</p></li>
    </ul>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="validityPeriod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel3">有效期限</h4>
                </div>
                <div class="modal-body">最长10年（至申请者护照有效期的前一天）</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="visaType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">签证类型</h4>
                </div>
                <div class="modal-body">个人旅游、商务、探亲签证</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="handlingTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">办理时间</h4>
                </div>
                <div class="modal-body">收齐资料后的21个工作日</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal）结束 -->
    <div class="remarks">
        <p>注：含签证费和服务费，因签证费会受汇率浮动影响，最终以大使馆实际收费标准为准</p>
    </div>

    <!-- process start -->
    <div class="process-wrap">
        <ul class="process-title">
            <li class="pro-title-item active">基本信息</li>
            <li class="pro-title-item">申请资料</li>
            <li class="pro-title-item">办理流程</li>
            <li class="pro-title-item">退订条款</li>
        </ul>
        <ul class="process-content">
            <li class="pro-con-item show">
                <div class="pro-con-title"><h3>基本信息</h3></div>
                <div class="pro-con-con">
                    <div class="infoBox">
                        <h4>服务内容</h4>
                        <p>1、提供给客户线上中文填表，代填领馆正式申请表 </p>
                        <p>2、为客户提供材料清单，对客户全部资料进行翻译整理</p>
                        <p>3、提供中英文在职和在校证明模板</p>
                        <p>4、远程电话服务</p>
                        <p>5、签证代传递及代取，代付签证费等服务</p>
                    </div>
                    <div class="infoBox">
                        <h4>受理范围</h4>
                        <p>1、中国大陆因私护照</p>
                        <p>2、不接收近一年内有美国或加拿大拒签记录的护照</p>
                        <p>3、不接收工作地、学习地在大陆地区以外的申请者</p>
                        <p>4、不接受拥有加拿大枫叶卡（永久居民卡）的持有者申请</p>
                        <p>5、18周岁及以下申请者必须至少与父母一方同行</p>
                    </div>
                </div>
            </li>
            <li class="pro-con-item ">
                <div class="pro-con-title"><h3>申请资料</h3></div>
                <div class="pro-con-con">
                    <div class="infoBox">
                        <h4> 一、身份证明</h4>
                        <p>1、护照原件 </p>
                        <p>2、2寸照片2张</p>
                        <p>3、身份证复印件</p>
                        <p>4、户口本全本复印件</p>
                    </div>
                    <div class="infoBox">
                        <h4>二、工作证明</h4>
                        <p>1、在职证明 </p>
                        <p>2、退休证复印件或退休证明原件（退休人员必须提供）</p>
                        <p>3、学生证复印件或在校证明名原件（在校学生必须提供）</p>
                    </div>
                    <div class="infoBox">
                        <h4>三、资产收入</h4>
                        <p>1、银行卡对账单 </p>
                        <p>2、自己或配偶的房产证、汽车行驶证复印件</p>
                        <p>3、其他资产证明</p>
                    </div>
                    <div class="infoBox">
                        <h4>四、授权（父母单方带18岁一下儿童出行，另一方需提供授权）</h4>
                        <p>1、未随行父母同意书</p>
                        <p>2、未随行父母身份证复印件</p>
                        <p>3、儿童出生证明复印件</p>
                    </div>
                </div>
            </li>
            <li class="pro-con-item ">
                <div class="pro-con-title"><h3>办理流程</h3></div>
                <div class="pro-con-con">
                    <div class="proBox">
                        <div class="circle">1</div>
                        <h4>初步沟通</h4>
                        <p>
                            在客户报名成功后请到办理支行缴纳签证费用，将有客服人员与客户进行初步沟通，确认信息以及协助客户准备签证递送的资料
                        </p>
                    </div>
                    <div class="proBox">
                        <div class="circle">2</div>
                        <h4>准备并递送签证资料</h4>
                        <p>
                            客户选择快递递交签证资料
                        </p>
                    </div>
                    <div class="proBox">
                        <div class="circle">3</div>
                        <h4>审核并制作资料</h4>
                        <p>
                            后台组收到资料后三个工作日内完成审核和整理，并致电告知资料已收讫，如有任何缺少项会告知客户补充或修改
                        </p>
                    </div>
                    <div class="proBox">
                        <div class="circle">4</div>
                        <h4>送签</h4>
                        <p>
                            由专业送签人员将客户申请资料递交至加拿大签证中心，使馆在审查资料过程中会电话与客户核实相关内容
                        </p>
                    </div>
                    <div class="proBox">
                        <div class="circle">5</div>
                        <h4>出签</h4>
                        <p>
                            为了确保客户本人签收护照，出签后按照客户在信息采集表中提供的地址采用顺丰快递（到付）的形式将护照返还
                        </p>
                    </div>
                    <div class="proBox">
                        <div class="circle">6</div>
                        <h4>核对信息</h4>
                        <p>
                            收到出签护照后请认真核对签证页信息是否有误（护照号、姓名、签证有效期、出生年月等）
                        </p>
                    </div>
                </div>
            </li>
            <li class="pro-con-item ">
                <div class="pro-con-title"><h3>退订条款</h3></div>
                <div class="pro-con-con">
                    <p class="refund">近期将推出签证拒签费用损失补贴服务，最高补贴1400元/单，敬请期待。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="button">
    <div class="back"><a href="QZ20161123">&lt;</a></div>
    <div class="appointment"><a href="#appointment" data-toggle="modal">开始预约</a></div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">预订信息</h4>
            </div>
            <div class="modal-body">
                <form name="form" method="get" action="statement" id="form">
                    <div class="form-group">
                        <label for="name">联系人姓名</label>
                        <input type="text" class="form-control" id="name" placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label for="mobile">联系人手机</label>
                        <input type="text" class="form-control" id="mobile" placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label for="mail">联系人邮箱</label>
                        <input type="text" class="form-control" id="mail" placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label for="name">人数</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success pull-left" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
