@{
    ViewBag.Title = "产品列表";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}
@section Css{
    <link href="@Url.Content("~/Content/citic/themes/pcindex.css")" rel="Stylesheet" type="text/css" />    
}

<div class="contentPage">
    <div class="top">
        <img src="~/Content/citic/images/pcindex/pc_top.jpg" />
        <div class="btn"><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391064&keywords=&shelvesId=00391064">点击购买</a></div>
    </div>
    <div class="main clearfloat">
        <h1>其它签证商品</h1>
        <!----美国-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/us.jpg" />
            <h3><span>平安价</span><i>￥1271元</i></h3>
            <span class="beizhu">在线填表,翻译,预约,面签辅导,一站式服务</span>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391152&keywords=&shelvesId=00391152">立即办理</a></h4>
        </div>
        <!----加拿大-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/Canada.jpg" />
            <h3><span>平安价</span><i>￥998元</i></h3>
            <span class="beizhu">在线中文填表,劲享998冰点价格</span>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391064&keywords=&shelvesId=00391064">立即办理</a></h4>
        </div>
        <!----日本五年多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/Japan5year.jpg" />
            <h3 class="qiqi">
                <span>平安价</span>
                <i>￥2399 元</i>
            </h3>
            <span class="beizhu">无需绑定机酒,无需提供归国报告书,轻松多次,说走就走</span>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391030&keywords=&shelvesId=00391030">立即办理</a></h4>
        </div>
        <!----法国申根-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/france.jpg" />
            <h3><span>平安价</span><i>￥400 元</i></h3>
            <span class="beizhu">此价格已包含15天旅游保险</span>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00392608&keywords=&shelvesId=00392608">立即办理</a></h4>
        </div>
        <!----日本个人旅游签证上海领取-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/jpanShanghai.jpg" />
            <h3><span>平安价</span><i>￥399 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00405833&keywords=&shelvesId=00405833">立即办理</a></h4>
        </div>
        <!----日本个人旅游北京领取-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/jpanBeijing.jpg" />
            <h3><span>平安价</span><i>￥399 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00405831&keywords=&shelvesId=00405831">立即办理</a></h4>
        </div>


        <!----澳大利亚三年多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/australia3year.jpg" />
            <h3><span>平安价</span><i>￥1999 元</i></h3>
            <span class="beizhu"> 三年长签,独家优势,出签有保障</span>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391082&keywords=&shelvesId=00391082">立即办理</a></h4>
        </div>
        <!----澳大利亚一年多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/australia1year.jpg" />
            <h3><span>平安价</span><i>￥1229 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391913&keywords=&shelvesId=00391913">立即办理</a></h4>
        </div>
        <!----英国两年多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/britain.jpg" />
            <h3><span>平安价</span><i>￥1118 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391882&keywords=&shelvesId=00391882">立即办理</a></h4>
        </div>

        <!----新西兰两年多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/newZealand.jpg" />
            <h3><span>平安价</span><i>￥1399 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391400&keywords=&shelvesId=00391400">立即办理</a></h4>
        </div>
        <!----新加坡长效-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/singapore.jpg" />
            <h3><span>平安价</span><i>￥349 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00420605&keywords=&shelvesId=00420605">立即办理</a></h4>
        </div>
        <!----韩国多次-->
        <div class="productBox">
            <img src="~/Content/citic/images/pcindex/korea.jpg" />
            <h3><span>平安价</span><i>￥899 元</i></h3>
            <h4><a href="http://cardmall.pingan.com/lookUpProductDetailInfo.shtml?productId=00391764&keywords=&shelvesId=00391764">立即办理</a></h4>
        </div>



    </div>
    <div class="foot">

        <img src="~/Content/citic/images/pcindex/foot.jpg" />
        <div class="detailbtn"><a href="http://cardmall.pingan.com/webShopSearchPublicSubCatalogInfo.do?subCatalogId=0000002977">详情请点击</a></div>
    </div>
</div>
