@{
    ViewBag.Title = "签证国家列表";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}
@section Css{
    <link href="@Url.Content("~/Content/citic/themes/reset.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/citic/themes/QZ20161123.css")" rel="Stylesheet" type="text/css" />
    
}
@section Js{
    <script type="text/javascript" src="~/Content/scripts/QZ20161123.js"></script>
}
<div class="banner clearfix">
    <ul class="b-list">
        <li class="b-l-item"><img src="~/Content/citic/images/QZ20161123/bj.1.jpg" alt=""></li>
        <li class="b-l-item"><img src="~/Content/citic/images/QZ20161123/bj.1.jpg" alt=""></li>
    </ul>
    <ul class="b-btn">
        <li class="b-btn-item active"></li>
        <li class="b-btn-item"></li>
    </ul>
</div>
<div class="container">
    <div class="title">
        <h1>签证国家</h1>
    </div>
    <ul class="con-list">
        <li class="con-l-item"><a href="US_2A"><img src="~/Content/citic/images/QZ20161123/flag_US_min.gif" alt=""><span>美国面签</span></a></li>
        <li class="con-l-item"><a href="US_1A"><img src="~/Content/citic/images/QZ20161123/flag_US_min.gif" alt=""><span>美国代传递</span></a></li>
        <li class="con-l-item"><a href="CA_1A"><img src="~/Content/citic/images/QZ20161123/flag_CA_min.gif" alt=""><span>加拿大长期</span></a></li>
        <li class="con-l-item"><a href="GB_1A"><img src="~/Content/citic/images/QZ20161123/flag_GB_min.gif" alt=""><span>英国二年多次</span></a></li>
        <li class="con-l-item"><a href="JP_4A"><img src="~/Content/citic/images/QZ20161123/flag_JP_min.gif" alt=""><span>日本单次</span></a></li>
        <li class="con-l-item"><a href="JP_1A"><img src="~/Content/citic/images/QZ20161123/flag_JP_min.gif" alt=""><span>日本五年多次</span></a></li>
        <li class="con-l-item"><a href="KR_1A"><img src="~/Content/citic/images/QZ20161123/flag_KR_min.gif" alt=""><span>韩国五年多次</span></a></li>
        <li class="con-l-item"><a href="AU_2A"><img src="~/Content/citic/images/QZ20161123/flag_AU_min.gif" alt=""><span>澳大利亚一年</span></a></li>
        <li class="con-l-item"><a href="AU_1A"><img src="~/Content/citic/images/QZ20161123/flag_AU_min.gif" alt=""><span>澳大利亚三年</span></a></li>
        <li class="con-l-item"><a href="NZ_1A"><img src="~/Content/citic/images/QZ20161123/flag_NZ_min.gif" alt=""><span>新西兰两年多次</span></a></li>
        <li class="con-l-item"><a href="EU_1A"><img src="~/Content/citic/images/QZ20161123/flag_EU_min.gif" alt=""><span>申根签证服务费</span></a></li>
    </ul>
</div>
