@{
    ViewBag.Title = "泰康人寿";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}
@section Css{
    <link href="@Url.Content("~/Content/citic/themes/reset.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/citic/themes/TK20161124.css")" rel="Stylesheet" type="text/css" />
}
@section Js{
    <script type="text/javascript"></script>
}
<div id="wrap">
    <a href="CB20161122" target="_blank" class="application">申请办理</a>
    <span class="or">/</span>
    <a href="CB20161129" target="_blank" class="cb">承保</a>
    <a href="TB20161130" target="_blank" class="tb">退保</a>
</div>