@{
    ViewBag.Title = "要出国 找中信|枫情万种";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}
@section Css{
    <link href="@Url.Content("~/Content/citic/themes/WX20160929.css")" rel="Stylesheet" type="text/css" />
    <style type="text/css">
    </style>
}
@section Js{
    <script type="text/javascript">
    </script>
}
<div style="display:none;">
    <img src="~/Content/citic/images/WX20160929/CiticWxIcon.jpg" />
</div>
<div id="wrap">
    <div class="header">
        <h1 class="title">要出国 找中信|枫情万种——加拿大赏枫正当时！</h1>
        <p class="info">加拿大素有“枫叶之国”的美誉。每当秋季来临，加拿大就成了枫叶的海洋，漫山遍野的枫叶让游人感到仿佛身在童话世界。现在，正是加拿大赏枫的好时节！</p>
        <div class="img"><img src="~/Content/citic/images/WX20160929/scenery1.png" alt="scenery"></div>
        <p class="info">小编去年也凑了个热闹，秋天飞到加拿大一睹红叶风采。那盛景当真是万山红遍，层林尽染，美不胜收，宛若梦境，亲眼所见时更为震撼，难以言喻的美景绝不辜负漫长的长途飞行。</p>
        <div class="img"><img src="~/Content/citic/images/WX20160929/scenery2.png" alt="scenery"></div>
        <p class="info">然而，小编也有一个深刻体会——赏枫一定要做足功课！加拿大每年气候不一、土地面积广阔，如果不事先做好准备，很有可能赶到赏枫地点枫叶已经落尽或者未全红。今天，就请随小编一起看看加拿大有哪些经典赏枫地点吧！</p>
    </div>
    <div class="maim">
        <div class="container">
            <h3>阿岗昆省立公园</h3>
            <p class="con-content">
                阿岗昆省立公园(Algonquin Park)是安省最大最古老，同时也是最著名的郊野公园，它位于多市以北350公里处，是该省重要的野生生态保护区。
                此处面积宽广，距离多伦多市区不远，方便快捷，是多伦多市民的好去处。这里湖泊众多，最佳的游览方式是划船，徒步也不错。每年秋季来临，这里就成了枫叶的海洋，漫山遍野褐红的枫叶让游人感到仿佛置身童话世界一般。9月的枫叶一片火红或是红黄相间的美景，定会让你欲罢不能。
            </p>
        </div>
        <div class="container">
            <h3>高地公园</h3>
            <p class="con-content">位于加拿大多伦多的High Park（高地公园）除了是赏美丽樱花好去处外，还是秋季赏枫叶的最佳之地。High Park有大片的枫树林，周末如果没事的话到High Park赏枫、野餐应该是个相当不错的选择。</p>
        </div>
        <div class="container">
            <h3>卡伯特之路</h3>
            <p class="con-content">卡伯特之路被称为世上最美的驾车道之一，曲折蜿蜒的穿过新斯科舍省的布雷顿角高地国家公园。秋天，道路一边布满了褐红色、深红色、金色的树木，各种火红、橘黄、深红、金色的色彩互相交织，勾勒出一幅艳丽的秋景图。</p>
            <div class="img"><img src="~/Content/citic/images/WX20160929/scenery3.png" alt="scenery" /></div>
        </div>
        <div class="container">
            <h3>穆斯科卡</h3>
            <p class="con-content">穆斯科卡是国家地理2011年排名第一的目的地，是著名的蜜月圣地，在秋季更是观赏枫叶的绝佳地区。色彩斑斓的枫树在蓝天白云碧水的映衬下，分外夺目。这里交通发达，有多条路线可以驾车前往。位于Huntsville的狮子观景台、Dorset的了望塔，以及69号公路上Parry Sound的山火了望台，都是必游之地，届时登高一望，满山红叶尽收眼底。</p>
        </div>
        <div class="container">
            <h3>“枫叶大道”</h3>
            <p class="con-content">加东最知名的赏枫点当属“枫叶大道”，所谓“枫叶大道”，是指连结多伦多、蒙特利尔、渥太华、魁北克的40号、417号和407号公路。这三条公路经过圣劳伦斯河、安大略山及湖，总长800公里。沿途穿越峡谷、河流、山峦和湖泊，红枫处处，景致非凡，每到10月,整个区域都被枫叶和变叶木染成一片绚丽的红色,色彩绚烂得惊心动魄。一路上，湖光山色与枫林相辉映，仿佛风景画般引人入胜。</p>
        </div>
        <div class="container">
            <h3>芬迪海岸线</h3>
            <p class="con-content">芬迪海岸线是一条风景迤逦的驾车道，位于加拿大新斯科舍省和新不伦瑞克省以及美国缅因州之间，有风景优美的芬迪国家公园。公园内有广阔的徒步路网，金秋十月，可徒步感受园内明艳的红色和南瓜橙色带来的美丽景色。</p>
        </div>
    </div>
    <div class="footer">文章来源于中信银行私人银行</div>
    <div class="line"></div>
    <div class="aboutzx">
        <div class="ab-header">
            <h3 class="ab-h-text">中信出国金融，</h3>
            <h3 class="ab-h-text">发现一个更好的世界！</h3>
        </div>
        <div class="ab-main">
            <h3 class="ab-main-title"></h3>
            <p class="ab-main-content"><em>服务价格特惠：</em>中信客户尊享中信红感恩季特惠价：998元。</p>
            <p class="ab-main-content"><em>资金证明超简：</em>中信有美签的客户申请加拿大签证，只要提供1000元中信卡资金证明流水即可，无需大额资产冻结。</p>
            <p class="ab-main-content"><em>签证被拒全赔：</em>对于有10年有效美签，之前未被拒，且提供真实材料的中信客户，如申请中信全球签—加签服务被拒，将获全额退款。</p>
            <p class="ab-main-content">中信红感恩季，邀您参加中信全球签服务，<strong>扫一扫下方二维码，或按住二维码，选择“识别图中二维码”</strong>，选择签证国家，直击“开始预定”，提交后中信95558客服及网点出国金融专员将提供后续一站式服务。</p>
            <div class="img orcode"><img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt=""><p>（按住二维码，选择“识别图中二维码”）</p></div>
            <div class="img ad"><img src="~/Content/citic/images/WX20160929/ad.png" alt="ad"></div>
            <div class="img"><img src="~/Content/citic/images/WX20160929/list.png" alt="list"></div>
        </div>
    </div>
</div>
