@{
    ViewBag.Title = "中信全球签";
    Layout = "~/Views/Shared/_CiticLayout.cshtml";
}

@section Css{
    <link href="@Url.Content("~/Content/citic/themes/ZX20161027.css")" rel="Stylesheet" type="text/css" />
    <style type="text/css">
    </style>
}
@section Js{
    <script type="text/javascript">
    </script>
}
<div id="wrap">
    <h1>中信银行"全球签"：三大理由为您强烈推荐！</h1>
    <div class="img"><img src="~/Content/citic/images/ZX20161027/global.png" alt="全球签" /></div>
    <p class="info abstract">中信银行"全球签"！全方位签证代办服务，30多个热点国家，线上办理，全程服务！ </p>
    <h2>中信全球签，三大优势：</h2>
    <ul class="advantage">
        <li>1、国家多：精选30余个热点国家，聚焦<strong>长期多次往返签证</strong>，世界任您挑选！</li>
        <li>2、服务全：<strong>签证专家全程代办</strong>，再也不用担心繁杂的签证手续~代填表、材料清单、中英文材料翻译整理、面试前电话指导等一单搞定！</li>
        <li>3、价格优：阿信告诉您：中信客户专享价好优惠！</li>
    </ul>
    <div class="img"><img src="~/Content/citic/images/ZX20161027/price.jpg" alt="价格" /></div>
    <p class="ad">如果您已是我行客户（签约基础产品），即为您奉上感恩回馈“中信全球签”，可以中信客户专享价享受上述签证服务。您到中信银行任一网点即可咨询办理，全国1300多个网点均可申请。<em>带上TA来一场说走就走的旅行吧！</em></p>
    <div class="img"><img src="~/Content/citic/images/ZX20161027/ad.jpg" alt="Alternate Text" /></div>
    <p><em>扫描下方二维码，或者长按二维码，选择『识别图中二维码』，选择签证国家，直击『开始预订』，提交后中信95558客服及网点出国金融专员将提供后续一站式服务。</em></p>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="加拿大 十年多次" />
        <p class="info">加拿大 十年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="韩国 五年多次" />
        <p class="info">韩国 五年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="澳大利亚 一年多次" />
        <p class="info">澳大利亚 一年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="澳大利亚 三年多次" />
        <p class="info">澳大利亚 三年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="日本 单次" />
        <p class="info">日本 单次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="日本 五年多次" />
        <p class="info">日本 五年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="新西兰 两年多次" />
        <p class="info">新西兰 两年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="英国 两年多次" />
        <p class="info">英国 两年多次</p>
    </div>
    <div class="orcode">
        <img src="http://wx.evisa99.com/qrcode/c2/wx.evisa99.com|r|citic|@ViewBag.BranchID|CiticBuy" alt="申根（26国）" />
        <p class="info">申根（26国）</p>
    </div>
    <div class="img"><img src="~/Content/citic/images/ZX20161027/adb.png" alt="Alternate Text" /></div>
</div>
